<div class="container">
    <div class="row">
        <div class="col-md-6 card-container">
            <div class="card">
                <div class="text-center">
                    <h1>Resaturant Login</h1>
                    <h5>feel free to login</h5> <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                      <label  class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email...">
                      
                    </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password...">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Login</button>
                  </form>
                  <a style="color: blue; padding: 10px" routerLink="/signup">New user ? click to Signup</a>
            </div>
        </div>
    </div>
</div>